.comment-list .avatar{
    left: -24px;
    background: white;
    width: 60px !important;
}

.comment-list .avatar .rating-circle{
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    font-weight: bolder;
}
.tt-input-group ul.dropdown-menu{
    width: 100%;
    margin-top: 0px;
    left: 0px !important;
}

.tt-input-group ul.dropdown-menu li{
    cursor: pointer;
}
.tt-input-group input.radius{
    border-radius: 2px !important; ;
}

.search-text{
    font-size: 15px;
    font-weight: 700;
}
.grey-icon{
    color: #788288;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .tt-input-group ul.dropdown-menu{
        width: 88%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    .tt-input-group ul.dropdown-menu{
        width: 90%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    .tt-input-group ul.dropdown-menu{
        width: 94%;
    }
}

/* old stuff */
