.comment-list .avatar{
    left: -24px;
    background: white;
    width: 60px !important;
}

.comment-list .avatar .rating-circle{
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    font-weight: bolder;
}
/*Typeahead css*/
.tt-input-group ul.dropdown-menu{
    width: 100%;
    margin-top: 0px;
    left: 0px !important;
}

.tt-input-group ul.dropdown-menu li{
    cursor: pointer;
}
.tt-input-group input.radius{
    border-radius: 2px !important; ;
}

/*Reviews section css*/
.review-wrapper {
    height: 300px;
    overflow-y: auto;
}
.thumbnail-medium{
    width: 65px;
    height: 65px;
}
/*Photos*/
.displayphoto{
    width: 247px; height: 247px; padding:0px 2px;min-height: 124px;
}

/*Drop images section*/
.drop{
    border: 3px dashed #ccc;
    padding: 10px;
    background: #fff;
    min-height: 200px;
}

.drop .info {
    color: #999;
    text-align: center;
}

.list-image{
    width: 50px; height: 50px; padding:0px 2px;
    margin-bottom: 7px;

}

/*Google map*/

.google-map {
    position: relative;
}
.google-map #panel {
    position: absolute;
    top: 30px;
    left: 12%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#panel .form-horizontal input, #panel .form-horizontal select, #panel .form-horizontal button{
    font-size: 10px;
    height: 25px;
}

#panel .form-horizontal select{
    vertical-align: middle;
    padding: 0px;
}

#panel .form-horizontal label {
    font-weight: 800;
}

#panel .form-group{
    margin-bottom : 2px;
}


/*Utilities*/
.margin-bottom-1em {
    margin-bottom: 1em;
}

.search-text{
    font-size: 15px;
    font-weight: 700;
}
.grey-icon{
    color: #788288;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .tt-input-group ul.dropdown-menu{
        width: 88%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    .tt-input-group ul.dropdown-menu{
        width: 90%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    .tt-input-group ul.dropdown-menu{
        width: 94%;
    }
}

/* old stuff */
