.listview {
  list-style: none;
  padding-left: 0;
}
.listview .row-odd {
  background: #f9f9f9 !important;
}
.listview .row-even {
  background: #fbfbfb !important;
}
.listview li {
  display: block;
  background: #f8f8f8;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.listview li a {
  text-decoration: none;
}
.listview li .title {
  font-size: 16px;
  font-weight: bold;
  color: #4bb5c1;
}
.listview li .title :hover {
  color: #7fc6bc;
}
.listview li .location {
  color: #5f604f;
  font-size: 14px;
}
.listview li .review-section * {
  margin: 0 5px;
}
.listview li .review-section .review-text {
  color: #555555;
  font-size: 14px;
}
.listview li .review-section .glyphicon {
  background: #777777;
  padding: 3px;
  color: #ffffff;
  font-size: 12px;
}
.listview li .distance {
  margin-top: 10px;
  font-size: 14px;
}
.listview li .rating-section {
  float: right;
  text-align: right;
}
.listview li .rating-section .rating,
.listview li .rating-section .trending {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 5px 15px;
  display: inline-block;
}
.listview li .rating-section .rating .bottom,
.listview li .rating-section .trending .bottom,
.listview li .rating-section .rating .top,
.listview li .rating-section .trending .top {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  margin: 0;
}
.listview li .rating-section .rating .top,
.listview li .rating-section .trending .top {
  border-bottom: 1px solid #777777;
}
.listview li .rating-section .rating {
  margin-right: 10px;
  border: 2px solid #4bb5c1;
}
.listview li .rating-section .trending.up {
  border: 2px solid #1be140;
}
.listview li .rating-section .trending.up .glyphicon {
  color: #1be140;
}
.listview li .rating-section .trending.down {
  border: 2px solid #f00;
}
.listview li .rating-section .trending.down .glyphicon {
  color: #f00;
}
.angular-google-map-container {
  height: 400px;
}
.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.no-padding-top {
  padding-top: 0px !important;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.no-padding {
  padding: 0px;
}
