<section class="panel panel-default">
    <header class="panel-heading">Restaurant Information</header>
    <section class="chat-list panel-body">
        <article class="media">
            <div ng-hide="requestExists" class="r b bg-warning-ltest wrapper m-b">
                Please fill up the information. Your request will be proceeded shortly.
            </div>
            <div ng-show="requestExists" class="r b bg-success-ltest wrapper m-b">
                Change request for this restaurant has been sent. You can update it below any time.
            </div>

            <form novalidate name="requestsForm" ng-submit="submitRequest()"  class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <!--ng-class="{ 'has-error' : requestsForm.name.$invalid && !requestsForm.name.$pristine }"-->
                    <div class="col-sm-9">
                        <input type="text" name="name" ng-model="request['restaurant-name']" class="form-control" placeholder="Restaurant name"/>
                        <!--<p ng-show="requestsForm.name.$error.required && !requestsForm.name.$pristine" class="help-block">Please enter a name.</p>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.phone.$invalid && !requestsForm.phone.$pristine }">
                        <input type="text" name="phone" ng-model="request['restaurant-phone']" class="form-control" ng-minlength="6"
                               placeholder="Phone number of the restaurant" />
                        <!--<p ng-show="requestsForm.phone.$error.required && !requestsForm.phone.$pristine" class="help-block">Please enter a number.</p>-->
                        <p ng-show="requestsForm.phone.$error.minlength && !requestsForm.phone.$pristine" class="help-block">That phone number is too short.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.email.$invalid && !requestsForm.email.$pristine }">
                        <input type="email" name="email" ng-model="request['restaurant-email']" class="form-control" placeholder="Email address of the restaurant or the owner" />
                        <!--<p ng-show="requestsForm.email.$error.required && !requestsForm.email.$pristine" class="help-block">Please enter an email.</p>-->
                        <p ng-show="requestsForm.email.$invalid && !requestsForm.email.$pristine" class="help-block">Please enter a valid email.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <textarea rows="4" name="description" ng-model="request['restaurant-description']" class="form-control"
                                  placeholder="Restaurant Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <textarea rows="2" name="address" ng-model="request['restaurant-address']" class="form-control"
                                  placeholder="Restaurant Address"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Cuisine</label>
                    <div class="col-sm-9">
                        <div class="form-item">
                            <div ng-repeat="cat in request['restaurant-cuisine'] track by $index" class="m-b-xs m-l">
                                {{ cat }}
                                <a ng-click="request['restaurant-cuisine'].splice($index, 1)" class="pointer m-l"> Remove</a>
                            </div>
                            <div class="m-l" ng-hide="request['restaurant-cuisine'].length">None</div>
                            <input type="text" class="input-sm form-control m-t-sm"
                                   ng-model="selCuisine"
                                   typeahead="cat for cat in categories | filter: $viewValue"
                                   typeahead-on-select="addCategory(selCuisine); selCuisine = ''"
                                   placeholder="Add new cuisine" >
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Website Address</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.website.$invalid && !requestsForm.website.$pristine }">
                        <input type="url" name="website" ng-model="request['restaurant-website address']" class="form-control"
                               placeholder="Restaurant Website URL"/>
                        <p ng-show="requestsForm.website.$error.url && !requestsForm.website.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Open Hours</label>
                    <div class="col-sm-9">
                        <div class="form-item">
                            <div ng-repeat="hours in request['restaurant-open hours'] track by $index" class="m-b-xs m-l">
                                {{ timeData.days[hours.day] }}
                                {{ timeData.hours[hours.start] }} -
                                {{ timeData.hours[hours.end] }}
                                <a ng-click="request['restaurant-open hours'].splice($index, 1)" class="pointer m-l"> Remove</a>
                            </div>
                            <div class="m-l" ng-hide="request['restaurant-open hours'].length">None</div>
                            <div class="m-t-sm">
                                <div style="width: 18%;" class="pull-left m-r-xs">
                                    <select class="form-control no-padding" ng-model="newHours.day"
                                            ng-options="val as label for (val, label) in timeData.days">
                                    </select>

                                </div>
                                <div style="width: 25%" class="pull-left m-r-xs">
                                    <select class="form-control no-padding" ng-model="newHours.start"
                                            ng-options="val as label for (val, label) in timeData.hours">
                                    </select>
                                </div>
                                <div style="width: 25%" class="pull-left m-r-xs">
                                    <select class="form-control no-padding" ng-model="newHours.end"
                                            ng-options="val as label for (val, label) in timeData.hours">
                                    </select>
                                </div>
                                <div style="width: 22%;" class="pull-left m-r-xs">
                                    <a class="btn btn-default " ng-click="addHours(newHours)">
                                        Add
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Price Range</label>
                    <div class="col-sm-9">
                        <div class="form-item">
                            <label ng-repeat="option in [1,2,3,4,5]" class="m-l-md">
                                <input type="radio" ng-model="request['restaurant-price range']" value="{{ option }}" class="m-l-sm">
                                {{ option }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Facebook Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.facebook_link.$invalid && !requestsForm.facebook_link.$pristine }">
                        <input type="url" name="facebook_link" ng-model="request['social-facebook_link']" class="form-control"
                                placeholder="Facebook link for social sharing" />
                        <p ng-show="requestsForm.facebook_link.$error.url && !requestsForm.facebook_link.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Twitter Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.twitter_link.$invalid && !requestsForm.twitter_link.$pristine }">
                        <input type="url" name="twitter_link" ng-model="request['social-twitter_link']" class="form-control"
                               placeholder="Twitter link for social sharing"/>
                        <p ng-show="requestsForm.twitter_link.$error.url && !requestsForm.twitter_link.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Google Plus Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.google_plus_link.$invalid && !requestsForm.google_plus_link.$pristine }">
                        <input type="url" name="google_plus_link" ng-model="request['social-google_plus_link']" class="form-control"
                               placeholder="Google Plus link for social sharing" />
                        <p ng-show="requestsForm.google_plus_link.$error.url && !requestsForm.google_plus_link.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tripadvisor Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.tripadvisor_source.$invalid && !requestsForm.tripadvisor_source.$pristine }">
                        <input type="url" name="tripadvisor_source" ng-model="request['source-tripadvisor_source']" class="form-control"
                               placeholder="Restaurant's Tripadvisor Url"/>
                        <p ng-show="requestsForm.tripadvisor_source.$error.url && !requestsForm.tripadvisor_source.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Eatability Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.eatability_source.$invalid && !requestsForm.eatability_source.$pristine }">
                        <input type="url" name="eatability_source" ng-model="request['source-eatability_source']" class="form-control"
                               placeholder="Restaurant's Eatability Url" />
                        <p ng-show="requestsForm.eatability_source.$error.url && !requestsForm.eatability_source.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Yelp Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.yelp_source.$invalid && !requestsForm.yelp_source.$pristine }">
                        <input type="url" name="yelp_source" ng-model="request['source-yelp_source']" class="form-control"
                               placeholder="Restaurant's Yelp Url" />
                        <p ng-show="requestsForm.yelp_source.$error.url && !requestsForm.yelp_source.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Urbanspoon Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.urbanspoon_source.$invalid && !requestsForm.urbanspoon_source.$pristine }">
                        <input type="url" name="urbanspoon_source" ng-model="request['source-urbanspoon_source']" class="form-control"
                               placeholder="Restaurant's Urbanspoon Url" />
                        <p ng-show="requestsForm.urbanspoon_source.$error.url && !requestsForm.urbanspoon_source.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Zomato Url</label>
                    <div class="col-sm-9" ng-class="{ 'has-error' : requestsForm.zomato_source.$invalid && !requestsForm.zomato_source.$pristine }">
                        <input type="url" name="zomato_source" ng-model="request['source-zomato_link']" class="form-control"
                               placeholder="Restaurant's Zomato Url" />
                        <p ng-show="requestsForm.zomato_source.$error.url && !requestsForm.zomato_source.$pristine" class="help-block">Please enter valid web url. (http://example.com)</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <div class="form-control" style="border: none;">
                            <label>
                                <input type="checkbox" ng-model="request['misc-business_closed']">
                                Busniess Closed
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <div class="form-control" style="border: none;">
                            <label>
                                <input type="checkbox" ng-model="request['misc-duplicate']">
                                Duplicate of Another Business
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-t">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="submit" name="submit" value="submit" ng-disabled="requestsForm.$invalid" class="btn btn-s-md btn-primary btn-rounded form-control"/>
                    </div>
                </div>

            </form>
        </article>
    </section>
</section>
