//custom variables
@custom-radius : 8px;
@navbar-custom-size : 26px;
@transparent-white : rgba(255, 255, 255, 0.2);
@white: #fff;
@light-brand-color : lighten(@brand-dark, 40%);
@img-path : "../images/";
@background-odd : #f9f9f9;
@background-even :#fbfbfb ;

.listview {
  list-style: none;
  padding-left: 0;
  .row-odd{
    background: @background-odd !important;
  }

  .row-even{
    background : @background-even !important;
  }
  li {
    display: block;
    // height: 150px;
    background: @gray-lighter;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    a{
      text-decoration: none;
    }
    .title {
      font-size: 16px;
      font-weight: bold;
      color: @brand-dark;
      :hover{
        color:@brand-primary;
      }
    }
    .location {
      color: @brand-gray;
      font-size: 14px;
    }
    .review-section {
      * {
        margin: 0 5px;
      }
      .review-text {
        color: @gray;
        font-size: 14px;
      }
      .glyphicon {
        background: @gray-light;
        padding: 3px;
        color: @white;
        font-size: 12px;
      }
    }
    .distance {
      margin-top: 10px;
      font-size: 14px;
    }
    .rating-section {
      float: right;
      text-align: right;
      .rating,
      .trending {
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        padding: 5px 15px;
        display: inline-block;
        .bottom,
        .top {
          font-weight: bold;
          font-size: 16px;
          color: @gray-dark;
          margin: 0;
        }
        .top {
          border-bottom: 1px solid @gray-light;
        }
      }
      .rating {
        margin-right: 10px;
        border: 2px solid @brand-dark;
      }
      .trending {
        &.up {
          .glyphicon {
            color: #1be140;
          }
          border: 2px solid #1be140;
        }
        &.down {
          .glyphicon {
            color: #f00;
          }
          border: 2px solid #f00;
        }
      }
    }

  }
}
.angular-google-map-container { height: 400px; }

.no-padding-left{
   padding-left: 0px !important;
}

.no-padding-right{
  padding-right: 0px !important;
}


.no-padding-top{
  padding-top: 0px !important;
}

.no-padding-bottom{
  padding-bottom: 0px !important;
}
.no-padding{
  padding:0px;
}


