.angular-google-map-container {
  min-height: 400px;
  height: 100%;
  width: 100%;
//  position: absolute;
}

.middle {
  display: table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-padding-m {
  padding: 0 !important;
}

.no-padding-left{
  padding-left : 0 !important;
}

.no-padding-right{
  padding-right : 0 !important;
}

.ir-footer{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.input-group-addon > label{
  padding-top: 3px;
}

.cg-busy-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgb(242, 244, 248);
}

.pointer {
  cursor: pointer;
}

.panel-tight{
  padding: 0 15px;
  margin: 8px 8px 4px 8px;
}

.z-index-10{
  z-index: 10;
}

.borderless-table td{
  border: none !important;
}

.bordered-input-group .input-group{
  border: 1px solid lightgray;
}

.bordered-input-group .form-group{
  margin: 0;
}

.legendColorBoxCustom{
  width: 10px;
  height: 10px;
  border-radius: 40px;
  display: inline-block;
  margin: 6px 16px 6px 6px;
}

/* navbar fix for Safari */
.navbar-brand > img{
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.inline-block{
  display: inline-block;
}

.ir-price{
  font-size: 115%;
  margin-left: 5px;
}

.share-button{
  margin: 4px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 60px;
  border: none;
  background-color: #599BC7;
  color: #fff;
  font-size: 22px;
  padding: 8px 0;
  text-align: center;
  opacity: 0.8;
  transition: all 0.2s ease;
}

.share-button:hover{
  transform: translate(0px, -4px);
  -moz-transform: scale(1.1) translate(0px, -4px);
  -webkit-transform: scale(1.1) translate(0px, -4px);
  -ms-zoom: 1.1;
  opacity: 1 !important;
  -moz-opacity: 1 !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease;
}

.vbox{
  overflow: visible;
}

.widgets-page{
  color: #333;
  textarea{
    box-sizing: border-box;
    width: 100%;
  }
  .num-input{
    width: 60px;
  }
}