<!--Header-->
<header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="'modules/partials/header.html'"></header>

<section class="hbox stretch ir-content">
    <!--Sidebar-->
    <aside ng-include="'modules/partials/sidebar.html'" id="nav" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

    <section id="content">

        <!--Dynamic view goes here-->
        <section class="vbox">
            <section class="scrollable padder">
                <h3 class="m-l m-t-lg m-b-lg">Profile</h3>

                <div class="row m-l-lg widgets-page">
                    <div class="col-md-10 col-lg-8">
                        <accordion close-others="true">

                            <accordion-group heading="Restaurant Info" ng-show="user.ownedRestaurants.length"
                                             is-open="showTabs.restaurant">

                                <div ng-controller="requestCtrl" ng-include="'modules/request/views/form.html'">

                                </div>
                            </accordion-group>

                            <accordion-group heading="Profile"
                                             is-open="showTabs.profile">

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Username</label>
                                        <div class="col-sm-9">
                                            <div class="form-item">
                                                <b>{{ user.username }}</b>
                                            </div>
                                            <!--<a class=" btn btn-default btn-rounded m-l-sm" href="#/login/changepassword">-->
                                                <!--Change-->
                                            <!--</a>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-9">
                                            <div class="form-item">
                                                <b>{{ user.email }}</b>
                                            </div>
                                            <!--<a class=" btn btn-default btn-rounded m-l-sm" href="#/login/changepassword">-->
                                                <!--Change-->
                                            <!--</a>-->
                                        </div>
                                    </div>
                                    <accordion close-others="true">
                                        <accordion-group heading="Change Password">
                                            <form ng-controller="loginCtrl" ng-submit="resetPassword(passwordForm.$valid)" novalidate name="passwordForm">
                                                <div class="list-group">
                                                    <div ng-class="{ 'has-error' : passwordForm.email.$invalid && !passwordForm.email.$pristine }">
                                                        <input type="email" placeholder="Email" class="form-control" name="email" ng-model="credentials.email" required>
                                                        <p ng-show="passwordForm.email.$invalid && !passwordForm.email.$pristine" class="help-block">Please enter a valid email.</p>
                                                    </div>
                                                    <div class="m-t-sm" ng-class="{ 'has-error' : passwordForm.oldpassword.$invalid && !passwordForm.oldpassword.$pristine }">
                                                        <input type="password" placeholder="Old Password" class="form-control" name="oldpassword" ng-model="credentials['old-password']" required ng-minlength="3">
                                                        <p ng-show="passwordForm.oldpassword.$error.required && !passwordForm.oldpassword.$pristine" class="help-block">Old password is required.</p>
                                                        <p ng-show="passwordForm.oldpassword.$error.minlength" class="help-block">Password is too short.</p>
                                                    </div>
                                                    <div class="m-t-sm" ng-class="{ 'has-error' : passwordForm.newpassword.$invalid && !passwordForm.newpassword.$pristine }">
                                                        <input type="password" placeholder="New Password" class="form-control" name="newpassword" ng-model="credentials['new-password']" required ng-minlength="3">
                                                        <p ng-show="passwordForm.newpassword.$error.required && !passwordForm.newpassword.$pristine" class="help-block">New password is required.</p>
                                                        <p ng-show="passwordForm.newpassword.$error.minlength" class="help-block">New Password is too short.</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="passwordForm.$invalid">Reset Password</button>
                                                </div>

                                            </form>
                                        </accordion-group>
                                        <accordion-group heading="Change Username">
                                            <form ng-controller="loginCtrl" ng-submit="resetPassword(usernameForm.$valid)" novalidate name="usernameForm">
                                                <div class="list-group">
                                                    <div ng-class="{ 'has-error' : usernameForm.email.$invalid && !usernameForm.email.$pristine }">
                                                        <input type="email" placeholder="Email" class="form-control" name="email" ng-model="credentials.email" required>
                                                        <p ng-show="usernameForm.email.$invalid && !usernameForm.email.$pristine" class="help-block">Please enter a valid email.</p>
                                                    </div>
                                                    <div class="m-t-sm" ng-class="{ 'has-error' : usernameForm.password.$invalid && !usernameForm.password.$pristine }">
                                                        <input type="password" placeholder="Password" class="form-control" name="password" ng-model="credentials['password']" required ng-minlength="3">
                                                        <p ng-show="usernameForm.password.$error.required && !usernameForm.password.$pristine" class="help-block">The password is required.</p>
                                                    </div>
                                                    <div class="m-t-sm" ng-class="{ 'has-error' : usernameForm.newusername.$invalid && !usernameForm.newusername.$pristine }">
                                                        <input type="text" placeholder="New Username" class="form-control" name="newusername" ng-model="credentials['new-username']" required ng-minlength="3">
                                                        <p ng-show="usernameForm.newusername.$error.required && !usernameForm.newusername.$pristine" class="help-block">New username is required.</p>
                                                        <p ng-show="usernameForm.newusername.$error.minlength" class="help-block">Username is too short.</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="usernameForm.$invalid">Reset Username</button>
                                                </div>

                                            </form>
                                        </accordion-group>
                                        <accordion-group heading="Change Email">
                                            <form ng-controller="loginCtrl" ng-submit="resetEmail(emailForm.$valid)" novalidate name="emailForm">
                                                <div class="list-group">
                                                    <div ng-class="{ 'has-error' : emailForm.email.$invalid && !emailForm.email.$pristine }">
                                                        <input type="email" placeholder="Email" class="form-control" name="email" ng-model="credentials.email" required>
                                                        <p ng-show="emailForm.email.$invalid && !emailForm.email.$pristine" class="help-block">Please enter a valid email.</p>
                                                    </div>
                                                    <div class="m-t-sm" ng-class="{ 'has-error' : emailForm.password.$invalid && !emailForm.password.$pristine }">
                                                        <input type="password" placeholder="Password" class="form-control" name="password" ng-model="credentials['password']" required ng-minlength="3">
                                                        <p ng-show="emailForm.password.$error.required && !emailForm.password.$pristine" class="help-block">The password is required.</p>
                                                    </div>
                                                    <div class="m-t-sm" ng-class="{ 'has-error' : emailForm.newemail.$invalid && !emailForm.newemail.$pristine }">
                                                        <input type="newemail" placeholder="New Email" class="form-control" name="newemail" ng-model="credentials.newemail" required>
                                                        <p ng-show="emailForm.newemail.$invalid && !emailForm.newemail.$pristine" class="help-block">Please enter a valid email.</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-sm-offset-4">
                                                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="emailForm.$invalid">Reset Email</button>
                                                </div>
                                            </form>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </accordion-group>
                        </accordion>

                    </div>

                </div>
            </section>
        </section>
        <!--<footer class="ir-footer" ng-include="'modules/partials/footer.html'"></footer>-->
    </section>
</section>



