<!--Header-->
<header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="'modules/partials/header.html'"></header>

<section class="hbox stretch ir-content">
    <!--Sidebar-->
    <aside ng-include="'modules/partials/sidebar.html'" id="nav" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

    <section id="content">

        <!--Dynamic view goes here-->
        <section class="vbox">
            <section class="scrollable padder">
                <h3 class="m-l m-t-lg m-b-lg">Edit Profile</h3>

                <div class="row m-l-lg widgets-page">
                    <div class="col-xs-12">
                        <p>
                            <span class="m-b-sm">Change your password:</span>
                            <a class=" btn btn-default btn-rounded m-l-md" href="#/login/changepassword">
                                Change Password
                            </a>
                        </p>
                    </div>

                </div>
            </section>
        </section>
        <!--<footer class="ir-footer" ng-include="'modules/partials/footer.html'"></footer>-->
    </section>
</section>



