<div share-links="Facebook, Twitter, LinkedIn, Google-Plus" share-title="reviews-combined dummy title"></div>


<!--<ul ng-social-buttons-->
    <!--data-url="'http://www.reviews-combined.com/'"-->
    <!--data-title="'Reviews Combined'"-->
    <!--data-description="'Restaurant Reviews'"-->
    <!--data-image="'http://dev2.reviews-combined.com/images/logo.png'">-->
    <!--&lt;!&ndash;<li>Share:</li>&ndash;&gt;-->
    <!--<li class="ng-social-facebook">Facebook</li>-->
    <!--<li class="ng-social-google-plus">Google+</li>-->
    <!--<li class="ng-social-twitter">Twitter</li>-->
    <!--<li class="ng-social-pinterest">Pinterest</li>-->
<!--</ul>-->