<section class="vbox ir-content">
    <header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow">
        <!--Mobile nav-->
        <div class="navbar-header aside-md dk">
            <!--Sidebar toggle-->
            <a class="btn btn-link visible-xs" ng-hide="navbarConfig.hideButtons"
               data-toggle="class:nav-off-screen"
               data-target="#nav" ng-click="scrollTop()">
                <i class="fa fa-bars"></i>
            </a>
            <!--&lt;!&ndash;Mobile login&ndash;&gt;-->
            <!--<a href="#/login" class="btn btn-link visible-xs" data-toggle="dropdown" ng-if="!isLogged">-->
                    <!--<span class="thumb-sm avatar pull-left"> <img src="images/avatar.png"> </span> Login-->
            <!--</a>-->

            <!--Logo-->
            <a href="#/index" class="navbar-brand"><img
                src="images/logo.png" class="m-r-sm">iReview</a>
            <!--Settings-->

            <!--<a class="btn btn-link visible-xs" data-toggle="dropdown"-->
               <!--data-target=".user"> <i class="fa fa-cog"></i>-->
            <!--</a>-->

            <!--Search button-->
            <a class="btn btn-link visible-xs" ng-hide="navbarConfig.hideButtons"
               ng-click="showSearchFilters()">
                <i class="fa fa-search"></i>
            </a>
        </div>
        <!--Navbar menu button (remove in future if not needed) -->
        <!--<ul class="nav navbar-nav hidden-xs">-->
            <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="i i-grid"></i></a>-->
                <!--<section class="dropdown-menu aside-lg bg-white on animated fadeInLeft">-->
                    <!--<div class="row m-l-none m-r-none m-t m-b text-center">-->

                        <!--<div class="col-xs-4">-->
                            <!--<div class="padder-v"><a href="#"> <span class="m-b-xs block"> <i-->
                                    <!--class="i i-mail i-2x text-primary-lt"></i> </span>-->
                                <!--<small class="text-muted">Mailbox</small></a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4">-->
                            <!--<div class="padder-v"><a href="#"> <span class="m-b-xs block"> <i-->
                                    <!--class="i i-calendar i-2x text-danger-lt"></i> </span>-->
                                <!--<small class="text-muted">Calendar</small></a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4">-->
                            <!--<div class="padder-v"><a href="#"> <span class="m-b-xs block"> <i-->
                                    <!--class="i i-map i-2x text-success-lt"></i> </span>-->
                                <!--<small class="text-muted">Map</small></a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4">-->
                            <!--<div class="padder-v"><a href="#"> <span class="m-b-xs block"> <i-->
                                    <!--class="i i-paperplane i-2x text-info-lt"></i> </span>-->
                                <!--<small class="text-muted">Trainning</small></a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4">-->
                            <!--<div class="padder-v"><a href="#"> <span class="m-b-xs block"> <i-->
                                    <!--class="i i-images i-2x text-muted"></i> </span>-->
                                <!--<small class="text-muted">Photos</small></a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4">-->
                            <!--<div class="padder-v"><a href="#"> <span class="m-b-xs block"> <i-->
                                    <!--class="i i-clock i-2x text-warning-lter"></i> </span>-->
                                <!--<small class="text-muted">Timeline</small></a>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</section>-->
            <!--</li>-->
        <!--</ul>-->

        <!--Search box-->
        <div class="col-sm-6 hidden-xs" ng-controller="navigationController">
            <search-box class="m-t m-l-sm" set-restaurant="setRestaurant(restaurant)" placeholder="Search restaurants, locations ..."></search-box>
        </div>


        <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
            <!--Notifications button and menu, removed until needed-->

            <!--<li class="hidden-xs">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="i i-chat3"></i> <span-->
                    <!--class="badge badge-sm up bg-danger count">2</span> </a>-->

                <!--<section class="dropdown-menu aside-xl animated flipInY">-->
                    <!--<section class="panel bg-white">-->
                        <!--<header class="panel-heading b-light bg-light"><strong>You have <span class="count">2</span>-->
                            <!--notifications</strong>-->
                        <!--</header>-->
                        <!--<div class="list-group list-group-alt">-->
                            <!--<a href="#" class="media list-group-item">-->
                                <!--<span class="pull-left thumb-sm"> <img src="images/avatar.png" alt="John said" class="img-circle"></span>-->
                                <!--<span class="media-body block m-b-none"> Use awesome animate.css-->
                                <!--<br>-->
                                <!--<small class="text-muted">10 minutes ago</small> </span>-->
                            <!--</a>-->
                            <!--<a href="#" class="media list-group-item">-->
                                <!--<span  class="media-body block m-b-none"> 1.0 initial released-->
                                <!--<br>-->
                                <!--<small class="text-muted">1 hour ago</small></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<footer class="panel-footer text-sm"><a href="#" class="pull-right"><i class="fa fa-cog"></i></a> <a-->
                                <!--href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>-->
                        <!--</footer>-->
                    <!--</section>-->
                <!--</section>-->
            <!--</li>-->
            <li  class="dropdown"  ng-show="!isLogged && !navbarConfig.hideButtons">
                <a  href="#/login" class="dropdown-toggle pointer" data-toggle="dropdown">
                    <span class="thumb-sm avatar pull-left"> <img src="images/avatar.png"> </span> Login
                </a>
            </li>
            <li class="dropdown pointer" ng-show="isLogged && !navbarConfig.hideButtons">
                <a class="dropdown-toggle pointer" data-toggle="dropdown">
                    <span class="thumb-sm avatar pull-left"> <img src="images/avatar.png"> </span> {{ user.username }} <b class="caret"></b> </a>
                <ul class="dropdown-menu animated fadeInRight">
                    <span class="arrow top"></span>
                    <li><a href="#/settings/profile">Settings</a></li>
                    <!--<li><a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a></li>-->
                    <!--<li><a href="docs.html">Help</a></li>-->
                    <li class="divider"></li>
                    <li><a href="#/login" id="login" ng-show="!isLogged">Login</a></li>
                    <li><a ng-click="clearToken()" id="logout" ng-show="isLogged">Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>

    <!--NavBar Search typeahead Custom template -->
    <script type="text/ng-template" id="itemTpl.html">

        <a tabindex="-1"  ng-if = " 'no results found' == match.model.formatted" ng-disabled>
            <span> No Results Found</span>
        </a>

        <a tabindex="-1" ng-if=" 'no results found' !== match.model.formatted">
            <span class="search-text clearfix"
                  bind-html-unsafe="match.model.searchText | typeaheadHighlight:query">
                <!--{{match.model.searchText}}-->
            </span>

            <span class="clearfix grey-icon search-subtext">
                <span class="glyphicon glyphicon-map-marker"></span>
                <span bind-html-unsafe="match.model.data.address | typeaheadHighlight:query"></span>
            </span>
            <!--<span bind-html-unsafe="match.model.searchText | typeaheadHighlight:query"> &nbsp; {{match.model.tagValue}}</span>-->
            <!--<span class="label label-tag pull-right">{{match.model.tag}}  </span>-->
        </a>
    </script>
</section>
