<div class="panel">
    <div class="panel-heading b-b">Filter | Not Implemented yet</div>
    <div class="panel-body">
        <ul class="list-unstyled m-t-n-sm">
            <li class="checkbox i-checks"><label> <input type="checkbox"
                                                         checked=""><i></i> All Category
            </label></li>
            <li class="checkbox i-checks"><label> <input type="checkbox"
                                                         checked=""><i></i> Chinese </label></li>
            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i> Indian
            </label></li>
            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                Thai </label></li>
            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                Modern Australian </label></li>
            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                Bistro </label></li>
            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                Burgers </label></li>
        </ul>
        <div class="line line-dashed b-b line-lg"></div>
        <ul class="list-unstyled">
            <li class="radio i-checks"><label> <input type="radio" name="filter"
                                                      checked=""><i></i> Today </label>
            </li>
            <li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>
                Last Week </label></li>
            <li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>
                Last Month </label></li>
        </ul>
    </div>
</div>
