<section class="vbox">
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px"
             data-color="#333333">

            <!--User avatar and menu-->
            <div class="clearfix wrapper dk nav-user hidden-xs">
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="thumb avatar pull-left m-r m-b-xs m-t-xs ">
                            <img src="images/avatar.ico"> <i class="on md b-light"></i>
                        </span>
                        <span class="hidden-nav-xs clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold text-lt">
                                    {{ user.username || 'Guest' }}
                                </strong>
                                <!--<b class="caret"></b>-->
                            </span>
                            <span class="text-muted text-xs block">...</span>
                        </span>
                    </a>
                </div>
            </div>

            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <div class="text-muted text-sm hidden-nav-xs padder m-t-sm m-b-sm">
                    <!--Start-->
                </div>
                <ul class="nav nav-main">
                    <li ng-show="!isLogged">
                        <a href="#/login" class="auto" >
                            <i class="i i-login icon"> </i>
                            <span class="font-bold">Login</span>
                        </a>
                    </li>
                    <li ng-show="isLogged">
                        <a ng-click="clearToken()" class="auto pointer" >
                            <i class="i i-logout icon"> </i>
                            <!--<span class="font-bold">Add Photo</span>-->
                            <span class="font-bold">Logout</span>
                        </a>
                    </li>
                    <!--<div class="line dk hidden-nav-xs"></div>-->
                    <li>
                        <a href="#/index" class="auto" >
                            <i class="fa fa-home icon"> </i>
                            <span class="font-bold">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/restaurant/{{restaurantId}}" class="auto" >
                            <i class="fa fa-angle-left icon"> </i>
                            <span class="font-bold">Restaurant Info</span>
                        </a>
                    </li>
                </ul>
                <!--<div class="line dk hidden-nav-xs"></div>-->
            </nav>
            <!-- / nav -->
        </div>
    </section>
    <!--<footer class="footer hidden-xs no-padder text-center-nav-xs">-->
    <!--<a href="modal.lockme.html" data-toggle="ajaxModal"-->
    <!--class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">-->
    <!--<i class="i i-logout"></i>-->
    <!--</a>-->
    <!--<a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">-->
    <!--<i class="i i-circleleft text"></i> <i class="i i-circleright text-active"></i>-->
    <!--</a>-->
    <!--</footer>-->
</section>
