<section class="vbox">
    <header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="header"></header>
    <section>
        <section class="hbox stretch">
    <aside ng-include="sidebar" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

    <section id="content">
        <section class="vbox">
            <header class="header bg-white b-b b-light">
                <div class="">
                    <div class=" top20 head widget-head bg-purple active clearfix" style="padding:10px 5px;margin-bottom:5px;">
                        <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <input ng-model='search.formattedAddress' class="form-control icon location"
                                   placeholder="-- Location --" ng-model="asyncSelected"
                                   typeahead="address.formatted_address for address in getLocation($viewValue) "
                                   typeahead-loading="loadingLocations">
                        </div>
                        <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select class="form-control icon price" ng-model="search.price">
                                <option>-- Price --</option>
                                <option ng-repeat="price in prices" value="{{price.numericValue}}">{{price.value}}
                                </option>
                            </select>
                        </div>
                        <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <select class="form-control icon type" ng-model="search.category">
                                <option value="">-- Cuisine --</option>
                                <option ng-repeat="category in categories" value="{{category.category}}">
                                    {{category}}
                                </option>
                            </select>
                        </div>
                        <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <button class="btn btn-dark form-control" ng-click="search()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>

                            <!--<input type="text" class="btn btn-dark form-control glyphicon glyphicon-search">-->
                        </div>
                    </div>
                </div>
            </header>
            <section class="scrollable wrapper w-f">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- .comment-list -->
                        <section class="comment-list block">


                        </section>
                        <!-- / .comment-list -->
                    </div>
                    <div class="col-sm-12">
                        <section>
                        <header class="panel-heading ">
                            <div class="row">
                                <div class="col-sm-6">
                                    Popular Restaurants
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 pull-right">
                                    <select ng-model="sort" ng-change="set()" class="form-control">
                                        <option value="popular" selected>Sort by rating</option>
                                        <option value="trending">Sort by trend</option>
                                        <option value="distance">sort by distance</option>
                                    </select>
                                </div>
                            </div>
                        </header>
                        </section>
                        <section class="comment-list block">

                            <div class="panel-body no-padding-left no-padding-right">
                                <article ng-repeat="restaurant in restaurants" class="comment-item"> <a class="pull-left thumb-sm avatar"><img src="images/a9.jpg"></a> <span class="arrow left"></span>
                                    <section class="comment-body panel panel-default">
                                        <header class="panel-heading"> <a href="">{{restaurant.locations__formatted_address}}</a>
                                            <label class="label bg-primary m-l-xs">{{restaurant.category}}</label>
                                            <span class="text-muted m-l-sm pull-right"> <i class="fa fa-clock-o"></i> 2hs ago </span> </header>
                                        <div class="panel-body">
                                            <blockquote>
                                                <p><a href="#/detail/{{restaurant.id}}/{{hash}}"><h3 class="title">
                                                    {{restaurant.name}}</h3>
                                                </a></p>
                                                <small>{{restaurant.price_range_symbol}}</small> Reviews: {{restaurant.overview__total_reviews}} </blockquote>
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                                <div class="distance pull-right"><i>{{restaurant.distance | number : 2}} KM</i>
                                                </div>
                                                <br class="clear">

                                                <div class="rating-section">

                                                    <div class="rating">
                                                        <p class="top">
                                                            {{restaurant.overview__percentile | number : 2}}
                                                        </p>

                                                        <p class="bottom">
                                                            Rating
                                                        </p>
                                                    </div>
                                                    <div ng-class="{true:'up',false:'down'}[restaurant.overview__trend  >= 0]"
                                                         class="trending">
                                                        <p class="top">
                                                            <i ng-class="{true:'glyphicon-arrow-up',false:'glyphicon-arrow-down'}[restaurant.overview__trend >= 0]"
                                                               class="glyphicon "></i>
                                                            {{restaurant.overview__trend | number : 2}}
                                                        </p>

                                                        <p class="bottom">
                                                            Trend
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </article>

                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <footer class="footer bg-white b-t b-light">
                <p>This is a footer</p>
            </footer>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a> </section>




</section>
</section>
</section>