<section class="vbox" style="">
<header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="header"></header>
<section>
<section class="hbox stretch">
<aside ng-include="sidebar" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

<section id="content">
<section class="vbox">
<section class="scrollable padder">
<section class="row m-b-md">
    <div class="col-sm-6" ng-controller="mapCtrl">
        <h3 class="m-b-xs text-black">{{restaurant.name}}
            <button class="btn btn-default btn-rounded btn-sm" data-toggle="class:nav-xs" ng-click="getMap()"><i
                    class="fa fa-map-marker fa-lg text-primary"></i> Map
            </button>
            <div class="modal-backdrop fade in"></div>
        </h3>
        <small> {{restaurant.address}},
            {{restaurant.city}}, {{restaurant.postcode}} {{restaurant.state}}
        </small>
    </div>
    <div class="col-sm-6 text-right text-left-xs m-t-md">

        <a href="#" class="btn btn-icon b-2x btn-default btn-rounded hover"><i
                class="i i-bars3 hover-rotate"></i></a> <a href="#nav, #sidebar"
                                                           class="btn btn-icon b-2x btn-info btn-rounded"
                                                           data-toggle="class:nav-xs, show"><i
            class="fa fa-bars"></i></a></div>
</section>
<div class="row">
    <div class="col-sm-6">
        <div class="panel b-a">
            <div class="row m-n">
                <div class="col-md-6 b-b b-r"><a href="#" class="block padder-v hover"> <span
                        class="i-s i-s-2x pull-left m-r-sm"> <i
                        class="i i-hexagon2 i-s-base text-danger hover-rotate"></i> <i
                        class="i i-users2 i-1x text-white"></i> </span> <span
                        class="clear"> <span class="h3 block m-t-xs text-danger">{{stats.total_reviews}}</span> <small
                        class="text-muted text-u-c">Total Reviews
                </small> </span> </a></div>
                <div class="col-md-6 b-b"><a href="#" class="block padder-v hover"> <span
                        class="i-s i-s-2x pull-left m-r-sm"> <i
                        class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i> <i
                        class="i i-plus2 i-sm text-white"></i> </span> <span
                        class="clear"> <span class="h3 block m-t-xs text-success">{{stats.current_rating}}</span> <small
                        class="text-muted text-u-c">Ireview Ranking
                </small> </span> </a></div>
                <div class="col-md-6 b-b b-r"><a href="#" class="block padder-v hover"> <span
                        class="i-s i-s-2x pull-left m-r-sm"> <i
                        class="i i-hexagon2 i-s-base text-info hover-rotate"></i> <i
                        class="i i-location i-sm text-white"></i> </span> <span
                        class="clear"> <span class="h3 block m-t-xs text-info">25 <span
                        class="text-sm">m</span></span> <small class="text-muted text-u-c">
                    location
                </small> </span> </a></div>
                <div class="col-md-6 b-b"><a href="#" class="block padder-v hover"> <span
                        class="i-s i-s-2x pull-left m-r-sm"> <i
                        class="i i-hexagon2 i-s-base text-primary hover-rotate"></i> <i
                        class="i i-alarm i-sm text-white"></i> </span> <span
                        class="clear"> <span class="h3 block m-t-xs text-primary">{{stats.current_percentile | number :2}}</span> <small
                        class="text-muted text-u-c">Current Rating
                </small> </span> </a></div>
                <div class="col-md-6 b-b b-r"><a href="#" class="block padder-v hover"> <span
                        class="i-s i-s-2x pull-left m-r-sm"> <i
                        class="i i-hexagon2 i-s-base text-success-lter hover-rotate"></i> <i
                        class="fa fa-arrow-circle-up text-white"></i> </span> <span
                        class="clear"> <span class="h3 block m-t-xs text-info">{{stats.max_percentile | number : 2}}% <span
                        class="text-sm">m</span></span> <small class="text-muted text-u-c">
                    Maximum Rating
                </small> </span> </a></div>
                <div class="col-md-6 b-b"><a href="#" class="block padder-v hover"> <span
                        class="i-s i-s-2x pull-left m-r-sm"> <i
                        class="i i-hexagon2 i-s-base text-danger-lter hover-rotate"></i> <i
                        class=" fa fa-arrow-circle-down text-white"></i> </span> <span
                        class="clear"> <span class="h3 block m-t-xs text-primary">{{stats.min_percentile | number : 2}}%</span> <small
                        class="text-muted text-u-c">Minimum Rating
                </small> </span> </a></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <section class="panel panel-default">

            <div class="list-group no-radius alt">
                <a class="list-group-item" href="#">
                    <span class="badge bg-success"></span>
                    <i class="fa fa-comment icon-muted"></i>
                    Phone : {{restaurant.phone}}
                </a>
                <a class="list-group-item" href="#">
                    <span class="badge bg-info"></span>
                    <i class="fa fa-envelope icon-muted"></i>
                    Email : {{restaurant.email}}
                </a>
                <a class="list-group-item" href="#">
                    <span class="badge bg-light"></span>
                    <i class="fa fa-eye icon-muted"></i>
                    Price Range : {{restaurant.price_range}}
                </a>
            </div>
        </section>
        <section class="panel panel-info">
            <div class="panel-body">
                <div class="clear">
                    <a href="#" class="btn btn-xs btn-success m-t-xs">{{restaurant.category}}</a>
                </div>
            </div>
        </section>
    </div>

</div>
<div class="row bg-light dk m-b">
    <div class="col-md-7 col-sm-12 dker">
        <section>
            <header class="font-bold padder-v">
                <div class="pull-right">
                    <div class="btn-group">
                        <button data-toggle="dropdown"
                                class="btn btn-sm btn-rounded btn-default dropdown-toggle"><span
                                class="dropdown-label">Week</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-select">
                            <li><a href="#">
                                <input type="radio" name="b">
                                Month</a></li>
                            <li><a href="#">
                                <input type="radio" name="b">
                                Week</a></li>
                            <li><a href="#">
                                <input type="radio" name="b">
                                Day</a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-default btn-icon btn-rounded btn-sm">Go</a></div>
                Statistics
            </header>
            <div class="panel-body">
                <!--<div id="flot-sp1ine" style="height:210px"></div> -->

                <flot dataset="flotDataset" options="flotOptions" height="212px"></flot>
            </div>
            <div class="row text-center no-gutter">
                <div class="col-xs-3"><span class="h4 font-bold m-t block">2,000</span>
                    <small class="text-muted m-b block">Total Reviews</small>
                </div>
                <div class="col-xs-3"><span class="h4 font-bold m-t block">200</span>
                    <small class="text-muted m-b block">&gt; 60%</small>
                </div>
                <div class="col-xs-3"><span class="h4 font-bold m-t block">900</span>
                    <small class="text-muted m-b block">&gt; 70%</small>
                </div>
                <div class="col-xs-3"><span class="h4 font-bold m-t block">800</span>
                    <small class="text-muted m-b block">&gt; 80%</small>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-5 col-sm-12">
        <section>
            <header class="font-bold padder-v">
                <div class="btn-group pull-right">
                    <button data-toggle="dropdown"
                            class="btn btn-sm btn-rounded btn-default dropdown-toggle"><span
                            class="dropdown-label">Last 24 Hours</span> <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-select">
                        <li><a href="#">
                            <input type="radio" name="a">
                            Today</a></li>
                        <li><a href="#">
                            <input type="radio" name="a">
                            Yesterday</a></li>
                        <li><a href="#">
                            <input type="radio" name="a">
                            Last 24 Hours</a></li>
                        <li><a href="#">
                            <input type="radio" name="a">
                            Last 7 Days</a></li>
                        <li><a href="#">
                            <input type="radio" name="a">
                            Last 30 days</a></li>
                        <li><a href="#">
                            <input type="radio" name="a">
                            Last Month</a></li>
                        <li><a href="#">
                            <input type="radio" name="a">
                            All Time</a></li>
                    </ul>
                </div>
                Analysis
            </header>
            <div class="panel-body flot-legend">

                <!--<nvd3-pie-chart
                        data="exampleData"
                        id="exampleId"
                        x="xFunction()"
                        y="yFunction()"
                        showLabels="true"
                        donutLabelsOutside="true"
                        labelType="key"
                        color="colorFunction()"
                        donut="true">
                    <svg height="300"></svg>
                </nvd3-pie-chart>-->
                <flot dataset="donutDataset" options="donutOptions" height="280px"></flot>
            </div>
    </div>
</div>
</div>
<div class="row">

    <div class="col-lg-6">
        <!-- chat -->
        <section class="panel panel-default">
            <header class="panel-heading">Reviews</header>
            <section class="chat-list panel-body">
                <article class="media">
                    <span class="pull-left thumb-sm"><img src="images/a2.png"></span>

                    <div class="media-body">
                        <div class="pull-right media-xs text-center text-muted">
                            <strong class="h4">17</strong><br>
                            <small class="label bg-light">Feb</small>
                        </div>
                        <a href="#" class="h4">Real food</a>
                        <small class="block"><a href="#" class="">Reviewer Name </a> <i
                                class="fa fa-star text-info"></i><i class="fa fa-star text-info"></i><i
                                class="fa fa-star text-info"></i><i class="fa fa-star text-info"></i><i
                                class="fa fa-star-half-o text-info"></i></small>
                        <small class="block m-t-sm">Lovely staff, very attentive. Unrushed degustation accommodating to
                            our dietary requests and with lovely wine. Never cheap but worth it for a special occasion.
                            Lovely comfy furniture, beautiful outlook over Japanese garden. Sashimi style appetizer was
                            great, the beef was perfect, and desserts - couldn't get enough! Also, ask about cheese, you
                            won't be disappointed, except for the coffee!
                        </small>
                    </div>
                </article>
                <div class="line pull-in"></div>
            </section>
            <footer class="panel-footer">
                <!-- chat form -->
                <article class="chat-item" id="chat-form">
                    <a class="pull-left thumb-sm avatar"><img src="images/a2.png" class="img-circle"></a>
                    <section class="chat-body">
                        <form action="" class="m-b-none">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Write your review">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button">POST</button>
                              </span>
                            </div>
                        </form>
                    </section>
                </article>
            </footer>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="panel panel-default">
            <header class="panel-heading">Photos</header>
            <section class="chat-list panel-body">
                <!--<section class="row m-l-none m-r-none m-b text-center box-shadow"> -->
                <div class="col-xs-4 no-padding">
                    <img src="images/r1.jpg" style="max-width: 97%;min-height: 124px;"/>
                </div>
                <div class="col-xs-4 no-padding">
                    <img src="images/r2.jpeg" style="max-width: 97%;min-height: 124px;"/>
                </div>
                <div class="col-xs-4 no-padding">
                    <img src="images/r3.jpg" style="max-width: 97%;min-height: 124px;"/>
                </div>
            </section>
        </section>
    </div>
    <div class="col-sm-12">
        <section class="panel panel-default">
            <header class="panel-heading">This will be shown in Restaurant owner view</header>
            <section class="chat-list panel-body">
        <highchart id="chart1" config="chartConfig" class="col-sm-11"></highchart>
                </section>
            </section>
    </div>

</div>

</section>


</section>
<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>

</section>
</section>
</section>


<div ng-include="navigation"></div>

<div class="container-fluid content" style="display:none;">
<div class="row">

<div class="col-sm-8 right-col">
<div class="container-fluid top20 detail-section" ng-controller="detailCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Restaurant Info</h3>
        </div>
        <table class="table">
            <tbody>
            <tr class="grey-bg">
                <td>Name:</td>
                <td>{{restaurant.name}}</td>
            </tr>
            <tr class="grey-bg">
                <td>Category:</td>
                <td>{{restaurant.category}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container-fluid top20" ng-repeat="photo in photos">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive" src="{{photo.url}}">
    </div>
</div>
`


<div class="container-fluid">
    <chart title="Line chart" xData="lineChartXData" yData="lineChartYData" xName="Month" yName="Hit"
           graphData="graphData"
           subtitle="Annual Data"></chart>


</div>

<div class="container-fluid top20 graph-bottom">
    <ul class="nav nav-tabs nav-justified">
        <li class="rating">
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <span>Rating</span>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <img src="images/signal.png" alt=""> {{stats.current_rating}}
            </div>
        </li>
        <li>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <span>Best</span>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                {{stats.max_percentile | number : 2}}
            </div>
        </li>
        <li>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <span>Worst</span>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                {{stats.min_percentile | number : 2}}
            </div>
        </li>
        <li>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <span>Reviews</span>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                {{stats.total_reviews}}
            </div>
        </li>
        <li class="" ng-class="{true:'trend-green',false:'trend-red'}[stats.current_trend  >= 0]">
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <span>Trend</span>
            </div>
            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <img ng-src="{{stats.current_trend >= 0 && 'images/trend-up.png' || 'images/trend-down.png'}}"/>

                {{stats.current_trend | number : 3}}
            </div>
        </li>
    </ul>
</div>

<div class="container-fluid detail-tabs top20">
    <div class="nav-custom-justified">
        <div class="item col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="" class="">
                Email
            </a>
        </div>
        <div class="item col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span class="glyphicon glyphicon-camera"></span>
            <a href="" class="" ng-click="addNewPhoto()">
                Add Photo
            </a>
        </div>
        <div class="active item col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span class="glyphicon glyphicon-pencil"></span>
            <a href="" class="">
                Write a Review
            </a>
        </div>
    </div>
</div>

<div class="container-fluid top20">
    <form novalidate name="review-form">
        <input type="hidden" name="restaurant_id" ng-model="reviewForm.restaurant_id"/>

        <div class="row">
            <div class="col-sm-2">
                <label>Rating</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="rating" ng-model="reviewForm.rating" required/>
            </div>
            <div ng-show="reviewForm.rating.$invalid">Invalid:
                <span ng-show="reviewForm.rating.$error.required">Rating is required.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Summary in 4 words</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="special" ng-model="reviewForm.special"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Comment</label>
            </div>
            <div class="col-sm-10">
                <textarea name="comment" ng-model="reviewForm.comment"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <label>Email</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="email" ng-model="reviewForm.email"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Phone</label>
            </div>
            <div class="col-sm-10">
                <input type="text" name="phone" ng-model="reviewForm.phone"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                <input type="submit" name="submit" value="submit" ng-click="submitReview()"/>
            </div>
        </div>

    </form>

</div>

<div class="container-fluid top20">
    <!--<input type="text" ng-model="myModelObj"> -->
    <input type="file" ng-file-select="onFileSelect($files)">
    <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">

    <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
    <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
         ng-show="dropSupported">drop files here
    </div>
    <div ng-file-drop-available="dropSupported=true"
         ng-show="!dropSupported">HTML5 Drop File is not supported!
    </div>
    <button ng-click="upload.abort()">Cancel Upload</button>
</div>

<div class="container-fluid top20 detail-section" ng-show="reviews">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Restaurant Reviews</h3>
        </div>
        <ul class="list-group review-list" ng-repeat="review in reviews">
            <li class="list-group-item grey-bg review-item clearfix">
                <div class="container-fluid">
                    <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 thumb">
                        <img src="images/review.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <h3 class="title">
                            {{review.special}}
                            <div class="pull-right" show-rating="" data-value="{{review.rating}}"></div>
                        </h3>

                        <p readMore> {{review.comment|limitTo: review.textLength || 150 }}
                            <a ng-click="changeLength(review)"
                               ng-hide="review.textLength || review.comment.length <= 150" class=""
                               style="cursor: pointer;text-decoration: none;"><strong> ... Read More</strong></a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <pagination total-items="reviewListTotalItems" ng-model="reviewListCurrentPage" max-size="maxSize"
                class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                ng-change="reviewListPageChanged()" items-per-page="reviewListItemPerPage"></pagination>
</div>

<div class="container-fluid top20">

    <button class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12">
        Report Incorrect Info
    </button>
</div>

<br class="clear top40">

<p>&nbsp;</p>

</div>

<div class="col-sm-4 col-lg-4 visible-lg-block visible-md-block visible-sm-block" ng-repeat="template in templates">
    <div class="top20" ng-include="template.url">

    </div>
</div>
</div>
<div class="container-fluid footer" ng-include="footer">

</div>

</div>

