<!--Header-->
<header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="'modules/partials/header.html'"></header>
<div class="row ir-content">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
        <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
            <div class="container aside-xl">
                <a class="navbar-brand block" href="index.html">Reviews Combined</a>
                <section class="m-b-lg" ng-show="forgotRequestSent">
                    <header class="wrapper text-center">
                        <strong>Password change request has been sent. Please check your email.</strong>
                    </header>
                </section>
                <section class="m-b-lg" ng-hide="forgotRequestSent">
                    <header class="wrapper text-center">
                        <strong>Please enter your email address, and we will send you an email with a link to change the password for your account.</strong>
                    </header>
                    <!--Flash message div-->
                    <div mc-messages></div>
                    <form ng-submit="forgotPassword(loginForm.$valid)" novalidate name="loginForm">
                        <div class="list-group">
                            <div class="list-group-item" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                                <input type="text" placeholder="Email" class="form-control no-border" name="email" ng-model="credentials.email" required>
                                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Please enter a valid email.</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid">Reset Password</button>
                        <div class="line line-dashed"></div>
                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a href="#/login/signup" class="btn btn-lg btn-default btn-block">Create an account</a>
                    </form>
                </section>
            </div>
        </section>
    </div>
</div>