<!--Header-->
<header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="'modules/partials/header.html'"></header>
<div class="row ir-content">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
        <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
            <div class="container aside-xl">
                <a class="navbar-brand block" href="index.html">Reviews Combined</a>
                <section class="m-b-lg">
                    <header class="wrapper text-center">
                        <p><strong>Password changed successfully.</strong></p>
                        <p><a class="btn btn-lg btn-primary btn-block m-t-md" href="#/login">Log in</a></p>
                    </header>
                </section>
            </div>
        </section>
    </div>
</div>