<!--Header-->
<header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="'modules/partials/header.html'"></header>
<div class="row ir-content">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
        <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
            <div class="container aside-xl">
                <a class="navbar-brand block" href="index.html">Reviews Combined</a>
                <section class="m-b-lg" ng-show="success">
                    <header class="wrapper text-center">
                        <strong>Password changed successfully.</strong>
                        <a class="btn btn-lg btn-primary btn-block" href="#/login">Log in</a>
                    </header>
                </section>
                <section class="m-b-lg" ng-hide="success">
                    <header class="wrapper text-center">
                        <strong>Type in your email and new password:</strong>
                    </header>
                    <!--Flash message div-->
                    <div mc-messages></div>
                    <form ng-submit="resetPassword(loginForm.$valid)" novalidate name="loginForm">
                        <div class="list-group">
                            <div class="list-group-item" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                                <input type="email" placeholder="Email" class="form-control no-border" name="email" ng-model="credentials.email" required>
                                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Please enter a valid email.</p>
                            </div>
                            <!--<div class="list-group-item m-t-sm" ng-class="{ 'has-error' : loginForm.oldpassword.$invalid && !loginForm.oldpassword.$pristine }">-->
                                <!--<input type="password" placeholder="Old Password" class="form-control no-border" name="oldpassword" ng-model="credentials['old-password']" required ng-minlength="3">-->
                                <!--<p ng-show="loginForm.oldpassword.$error.required && !loginForm.oldpassword.$pristine" class="help-block">Old password is required.</p>-->
                                <!--<p ng-show="loginForm.oldpassword.$error.minlength" class="help-block">Password is too short.</p>-->
                            <!--</div>-->
                            <div class="list-group-item m-t-sm" ng-class="{ 'has-error' : loginForm.newpassword.$invalid && !loginForm.newpassword.$pristine }">
                                <input type="password" placeholder="New Password" class="form-control no-border" name="newpassword" ng-model="credentials['new-password']" required ng-minlength="3">
                                <p ng-show="loginForm.newpassword.$error.required && !loginForm.newpassword.$pristine" class="help-block">New password is required.</p>
                                <p ng-show="loginForm.newpassword.$error.minlength" class="help-block">New Password is too short.</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid">Reset Password</button>

                    </form>
                </section>
            </div>
        </section>
    </div>
</div>