<section id="container">
    <div ng-include="header"></div>
    <aside ng-include="sidebar"></aside>

    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Heading goes here..
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">

                                <div class="container-fluid top20">
                                    <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <input ng-model='search.formattedAddress' class="form-control icon location"
                                               placeholder="-- Location --" ng-model="asyncSelected"
                                               typeahead="address.formatted_address for address in getLocation($viewValue) "
                                               typeahead-loading="loadingLocations">
                                    </div>
                                    <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <select class="form-control icon price" ng-model="search.price">
                                            <option>-- Price --</option>
                                            <option ng-repeat="price in prices" value="{{price.numericValue}}">{{price.value}}</option>
                                        </select>
                                    </div>
                                    <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <select class="form-control icon type" ng-model="search.category">
                                            <option value="">-- Cuisine --</option>
                                            <option ng-repeat="category in categories" value="{{category.category}}">
                                                {{category.category}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        <button class="btn btn-dark form-control" ng-click="search()">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>

                                        <!--<input type="text" class="btn btn-dark form-control glyphicon glyphicon-search">-->
                                    </div>
                                </div>

                                <div class="container-fluid top20">
                                    <h3 class="text-clr primary">Popular Restaurant
                                        <div class=" pull-right">
                                            <select ng-model="sort" ng-change="set()">
                                                <option value="popular" selected>Sort by rating</option>
                                                <option value="trending">Sort by trend</option>
                                                <option value="distance">sort by distance</option>
                                            </select>
                                        </div>
                                    </h3>
                                    <ul class="listview" ng-repeat="restaurant in restaurants">
                                        <li class="container-fluid">
                                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                <a href="#/detail/{{restaurant.id}}/{{hash}}"><h3 class="title">{{restaurant.name}}</h3>
                                                </a>

                                                <p class="location">{{restaurant.address}} {{restaurant.city}}, {{restaurant.postcode}}
                                                    {{restaurant.state}}</p>

                                                <p class="review-section">
                                                    {{restaurant.price_range_symbol}}
                                                    <span class="review-text">Reviews: {{restaurant.overview__total_reviews}}</span>
                                                    <span class='glyphicon glyphicon-pencil'></span>
                                                    <span class="">{{restaurant.category}}</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                                <div class="distance pull-right"><i>{{restaurant.distance | number : 2}} KM</i></div>
                                                <br class="clear">

                                                <div class="rating-section">

                                                    <div class="rating">
                                                        <p class="top">
                                                            <img src="images/signal-orange.png" width="14" alt="">
                                                            {{restaurant.overview__percentile | number : 2}}
                                                        </p>

                                                        <p class="bottom">
                                                            Rating
                                                        </p>
                                                    </div>
                                                    <div ng-class="{true:'up',false:'down'}[restaurant.overview__trend  >= 0]"
                                                         class="trending">
                                                        <p class="top">
                                                            <i ng-class="{true:'glyphicon-arrow-up',false:'glyphicon-arrow-down'}[restaurant.overview__trend >= 0]"
                                                               class="glyphicon "></i>
                                                            {{restaurant.overview__trend | number : 2}}
                                                        </p>

                                                        <p class="bottom">
                                                            Trend
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <pagination total-items="popularListTotalItems" ng-model="popularListCurrentPage" max-size="maxSize"
                                                class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                                                ng-change="popularListPageChanged()"
                                                items-per-page="popularListItemPerPage"></pagination>
                                </div>

                        </div>
                    </section>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>


        <div class="container-fluid footer" ng-include="footer">

        </div>

    </div>
</section>