<ul class="nav nav-stacked side-nav">
    <li><a href="#">
        <img src="images/location-bg.png" alt="">
        Near Me
    </a></li>
    <li><a href="#">
        <img src="images/rest.png" alt="">
        Restaurant
    </a></li>
    <li><a href="#">
        <img src="images/star.png" alt="">
        Saves
    </a></li>
    <li><a href="#">
        <img src="images/pencil.png" alt="">
        Write a Review
    </a></li>
    <li><a href="#">
        <img src="images/settings.png" alt="">
        Settings
    </a></li>
</ul>