<section class="panel panel-default">
    <header class="panel-heading">Reviews</header>
    <section class="chat-list panel-body review-wrapper" ng-show="reviews">
        <div class="m-l-sm" ng-hide="reviews.items.length">
            No reviews
        </div>

        <div  ng-repeat="review in reviews.items" class="col-sm-12 no-padding media">

            <div class="col-sm-2 no-padding text-center">
                <a>
                    <img class="media-object thumbnail-medium" alt="avatar" src="images/a2.png" data-holder-rendered="true" >
                </a>
                <small class="block m-t-sm">Name</small>
            </div>
            <div class="col-sm-10 no-padding">
                <a class="h4">{{review.short_comment}}</a>
                <small class="block m-t-sm">{{review.comment}}</small>
                <small>
                    <rating  ng-model="review.rating" max="max" readonly="true"></rating>
                    <span class="label" ng-class="{'label-warning': review.rating/5 *100 <30, 'label-info': review.rating/5 *100 >=30 && review.rating/5 *100 <70, 'label-success': review.rating/5 *100 >=70}">{{review.rating/5 *100}}%</span>
                </small>
                    <span class="pull-right text-center text-muted">
                        <small class="label bg-light">{{ review.created }}</small>
                    </span>
            </div>
            <div class="line bg-danger-ltest  col-sm-12 no-padding-left no-padding-right"></div>

        </div>

        <!--Previous review lists-->
        <!--<article class="media">-->

        <!--<div class="media-body col-sm-12 no-padding-left no-padding-right">-->
        <!--<span class="pull-left thumb-sm"><img src="images/a2.png"></span>-->
        <!--<div class="pull-right media-xs text-center text-muted">-->
        <!--<small class="label bg-light">{{ review.created }}</small>-->
        <!--</div>-->
        <!--<a href="#" class="h4">{{review.short_comment}}</a>-->
        <!--<small class="block"><a href="#" class="">Reviewer Name </a> <rating  ng-model="review.rating" max="max" readonly="true"></rating>-->
        <!--<span class="label" ng-class="{'label-warning': review.rating/5 *100 <30, 'label-info': review.rating/5 *100 >=30 && review.rating/5 *100 <70, 'label-success': review.rating/5 *100 >=70}">{{review.rating/5 *100}}%</span>-->
        <!--</small>-->
        <!--<small class="block m-t-sm">{{review.comment}}</small>-->
        <!--</div>-->
        <!--</article>-->

        <!--<div class="line bg-danger-ltest  col-sm-12 no-padding-left no-padding-right"></div>-->
        <!--</div>-->
        <div class="panel-body bg-white b-b b-light" ng-show="numPages > 1">
            <pagination total-items="reviewListTotalItems" ng-model="reviewListCurrentPage"
                        max-size="maxSize"
                        class="pagination-sm " boundary-links="true" rotate="false"
                        num-pages="numPages"
                        ng-change="reviewListPageChanged(reviewListCurrentPage)"
                        items-per-page="reviewListItemPerPage"></pagination>
        </div>
    </section>
    <footer class="panel-footer">
        <!-- Review Section -->
        <article class="chat-item">
            <a class="pull-left thumb-sm avatar"><img src="images/a2.png" class="img-circle"></a>
            <section class="chat-body">
                <form  ng-submit="addNewReview()" novalidate class="m-b-none ng-pristine ng-valid">
                    <div class="input-group">
                        <input type="text"  ng-model="reviewForm.comment" class="form-control ng-pristine ng-valid" placeholder="Write your review">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >POST</button>
                        </span>
                    </div>
                </form>
            </section>
        </article>
    </footer>
</section>