<section class="vbox">
    <header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="header"></header>
    <section>
        <section class="hbox stretch">
            <aside ng-include="sidebar" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

            <section id="content">
                <section class="vbox">
                    <div>
                        <header class="header bg-white b-b b-light hide-for-small hide-for-touch" ng-include="'modules/restaurant/views/search-form.html'"></header>
                    </div>
                    <section class="scrollable wrapper w-f">
                        <div class="row">

                            <div class="col-sm-12 col-md-9 col-lg-9 ">
                                <section>
                                    <header class="panel-heading ">
                                        <div class="row">

                                            <div class="col-sm-6">
                                                Popular Restaurants
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-3 pull-right">
                                                <select ng-model="restaurantList.params.sort" class="form-control">
                                                    <option value="popular">Sort by rating</option>
                                                    <option value="trending">Sort by trend</option>
                                                    <option value="distance">Sort by distance</option>
                                                </select>
                                            </div>
                                        </div>
                                    </header>
                                </section>

                                <section class="comment-list block">

                                    <div class="panel-body no-padding-right">
                                        <article ng-repeat="restaurant in restaurants" class="comment-item"><a
                                                class="pull-left thumb-sm avatar">
                                            <span class="rating-circle">{{restaurant.overview__percentile | number : 1}}</span>
                                            <div easypiechart options="options" percent="restaurant.overview__percentile | number : 2"></div></a> <span
                                                class="arrow left"></span>
                                            <section class="comment-body panel panel-default">
                                                <header class="panel-heading"><a href="">{{restaurant.locations__formatted_address}}</a>
                                                    <label class="label bg-primary m-l-xs">{{restaurant.category}}</label>

                                                    <span class="text-muted m-l-sm pull-right"> <i
                                                            class="fa fa-clock-o"></i> {{restaurant.distance | number : 2}} KM </span>
                                                </header>
                                                <div class="panel-body">
                                                    <div class="col-sm-3 col-md-3 col-lg-4 no-padding pull-left">
                                                        <nvd3-multi-bar-chart
                                                                data="trend"
                                                                showXAxis="false"
                                                                showYAxis="false"
                                                                tooltips="true"
                                                                width="222"
                                                                height="150"
                                                                interactive="true">
                                                            <svg></svg>
                                                        </nvd3-multi-bar-chart>
                                                    </div>
                                                    <div class="col-sm-5 col-md-5 col-lg-6 pull-left">
                                                        <p><a href="#/restaurant/{{restaurant.id}}/{{hash}}">
                                                            <h3 class="title"> {{restaurant.name}} </h3>
                                                        </a></p>
                                                        <p><rating  ng-model="restaurant.overview__rating" max="5" readonly="true"></rating>
                                                            <span class="label" ng-class="{'label-warning': restaurant.overview__rating/5 *100 <30, 'label-info': restaurant.overview__rating/5 *100 >=30 && restaurant.overview__rating/5 *100 <70, 'label-success':restaurant.overview__rating/5 *100 >=70}">{{restaurant.overview__rating/5 *100}}%</span>
                                                            {{restaurant.overview__total_reviews}} Reviews
                                                        </p>
                                                        <p>Restaurant Overview : {{restaurant.overview__percentile | number : 2}}</p>
                                                        <p>Overview Trend : {{restaurant.overview__trend | number : 2}}</p>

                                                    </div>
                                                    <div class="col-lg-2 pull-left no-padding clearfix">
                                                        <img src="images/r3.jpg" class="list-image">
                                                        <img src="images/r3.jpg" class="list-image">
                                                        <img src="images/r3.jpg" class="list-image">
                                                        <img src="images/r3.jpg" class="list-image">
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-3 col-md-4 col-lg-4 col-md-offset-4"></div>
                                                    <div class="pull-right">Price : $ {{restaurant.price_range}} -  {{restaurant.price_range}}</div>
                                                </div>
                                            </section>
                                        </article>
                                        <div class="panel-body hide-for-small bg-white b-b b-light" style="margin-left: 45px;">
                                            <pagination total-items="popularListTotalItems" ng-model="popularListCurrentPage" max-size="maxSize"
                                                        class="pagination-sm " boundary-links="true" rotate="false" num-pages="numPages"
                                                        ng-change="popularListPageChanged()"
                                                        items-per-page="popularListItemPerPage"></pagination>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-sm-3 hide-for-small hide-for-touch">
                                <div class="panel">
                                    <div class="panel-heading b-b">Filters</div>
                                    <div class="panel-body">

                                        <!--Cuisine-->

                                        <div class="panel-title m-b">Cuisine</div>
                                        <ul class="list-unstyled m-t-n-sm">
                                            <li class="checkbox i-checks">
                                                <label> <input type="checkbox" ng-checked="! restaurantList.params['category-in']"
                                                               ng-click="selectAllCategories(allCategoriesSelected)">
                                                    <i></i> All Categories
                                                </label>
                                            </li>
                                            <li class="checkbox i-checks" ng-repeat="(category, value) in listedCategories">
                                                <label>
                                                    <input type="checkbox" ng-model="listedCategories[category]"><i></i>
                                                    {{ category }}
                                                </label>
                                            </li>
                                            <input type="text" ng-model="newCategory" placeholder=" Search cuisine"
                                                   typeahead-on-select="addCategory(newCategory)"
                                                   typeahead="category for category in allCategories | filter:$viewValue"
                                                   class="form-control ng-pristine ng-valid" >
                                        </ul>
                                        <div class="line line-dashed b-b line-lg"></div>

                                        <!--Price-->

                                        <div class="panel-title m-b">Price</div>
                                        <label>
                                            <select class="form-control icon price ng-pristine ng-valid"
                                                    ng-model="restaurantList.params['price_range-greater-than-or-equal-to']"
                                                    style="width: 90px; display: inline-block;">
                                                <option value="0">$</option>
                                                <option value="1">$$</option>
                                                <option value="2">$$$</option>
                                                <option value="3">$$$$</option>
                                                <option value="4">$$$$$</option>
                                            </select>
                                        </label>
                                        <label> to
                                            <select class="form-control icon price ng-pristine ng-valid"
                                                    ng-model="restaurantList.params['price_range-less-than-or-equal-to']"
                                                    style="width: 90px; display: inline-block;">
                                                <option value="0">$</option>
                                                <option value="1">$$</option>
                                                <option value="2">$$$</option>
                                                <option value="3">$$$$</option>
                                                <option value="4">$$$$$</option>
                                            </select>
                                        </label>
                                        <div class="line line-dashed b-b line-lg"></div>

                                        <!--Rating-->

                                        <div class="panel-title m-b">Rating</div>
                                        <ul class="list-unstyled">
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="rating" ng-model="ratingFilterValue" value="0"
                                                       ng-change="setRatingFilter(ratingFilterValue)"><i></i> All ratings</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="rating" ng-model="ratingFilterValue" value="1"
                                                       ng-change="setRatingFilter(ratingFilterValue)"><i></i> Less than 60%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="rating" ng-model="ratingFilterValue" value="60"
                                                       ng-change="setRatingFilter(ratingFilterValue)"><i></i> Greater than 60%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="rating" ng-model="ratingFilterValue" value="70"
                                                       ng-change="setRatingFilter(ratingFilterValue)"><i></i> Greater than 70%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="rating" ng-model="ratingFilterValue" value="80"
                                                       ng-change="setRatingFilter(ratingFilterValue)"><i></i> Greater than 80%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="rating" ng-model="ratingFilterValue" value="90"
                                                       ng-change="setRatingFilter(ratingFilterValue)"><i></i> Greater than 90%</label>
                                            </li>
                                        </ul>

                                        <div class="line line-dashed b-b line-lg"></div>

                                        <!--Distance-->

                                        <div class="panel-title m-b" ng-show="nearMe">Distance</div>
                                        <ul class="list-unstyled" ng-show="nearMe">
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="distance" ng-model="distanceFilterValue" value="0"
                                                       ng-change="setDistanceFilter(distanceFilterValue)"><i></i> Any distance</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="distance" ng-model="distanceFilterValue" value="1"
                                                       ng-change="setDistanceFilter(distanceFilterValue)"><i></i> Less than 1 KM</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="distance" ng-model="distanceFilterValue" value="2"
                                                       ng-change="setDistanceFilter(distanceFilterValue)"><i></i> Less than 2 KM</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="distance" ng-model="distanceFilterValue" value="5"
                                                       ng-change="setDistanceFilter(distanceFilterValue)"><i></i> Less than 5 KM</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="distance" ng-model="distanceFilterValue" value="10"
                                                       ng-change="setDistanceFilter(distanceFilterValue)"><i></i> Less than 10 KM</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="distance" ng-model="distanceFilterValue" value="-10"
                                                       ng-change="setDistanceFilter(distanceFilterValue)"><i></i> Greater than 10 KM</label>
                                            </li>
                                        </ul>

                                        <div class="line line-dashed b-b line-lg"></div>

                                        <!--Trend-->

                                        <div class="panel-title m-b">Trend</div>
                                        <ul class="list-unstyled">
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="trend" ng-model="trendFilterValue" value="0"
                                                       ng-change="setTrendFilter(trendFilterValue)"><i></i> All</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="trend" ng-model="trendFilterValue" value="1"
                                                       ng-change="setTrendFilter(trendFilterValue)"><i></i> Less than 60%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="trend" ng-model="trendFilterValue" value="60"
                                                       ng-change="setTrendFilter(trendFilterValue)"><i></i> Greater than 60%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="trend" ng-model="trendFilterValue" value="70"
                                                       ng-change="setTrendFilter(trendFilterValue)"><i></i> Greater than 70%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="trend" ng-model="trendFilterValue" value="80"
                                                       ng-change="setTrendFilter(trendFilterValue)"><i></i> Greater than 80%</label>
                                            </li>
                                            <li class="radio i-checks"><label>
                                                <input type="radio" name="trend" ng-model="trendFilterValue" value="90"
                                                       ng-change="setTrendFilter(trendFilterValue)"><i></i> Greater than 90%</label>
                                            </li>
                                        </ul>



                                        <!--<div class="line line-dashed b-b line-lg"></div>-->
                                        <!--<ul class="list-unstyled">-->
                                        <!--<li class="radio i-checks"><label>-->
                                        <!--<input type="radio" name="filter" checked=""><i></i> Today </label>-->
                                        <!--</li>-->
                                        <!--<li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>-->
                                        <!--Last Week </label></li>-->
                                        <!--<li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>-->
                                        <!--Last Month </label></li>-->
                                        <!--</ul>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>


        </section>
    </section>

</section>


<footer class="ir-footer">
    <ul ng-social-buttons
        data-url="'http://www.reviews-combined.com/'"
        data-title="'Reviews Combined'"
        data-description="'Restaurant Reviews'"
        data-image="'http://dev2.reviews-combined.com/images/logo.png'">
        <!--<li>Share:</li>-->
        <li class="ng-social-facebook">Facebook</li>
        <li class="ng-social-google-plus">Google+</li>
        <li class="ng-social-twitter">Twitter</li>
        <li class="ng-social-pinterest">Pinterest</li>
    </ul>
</footer>

