<section class="vbox">
    <!--Header-->
    <header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="header"></header>
    <section>
        <section class="hbox stretch">
            <!--Sidebar-->
            <aside ng-include="sidebar" id="nav" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

            <!--Content for regular users-->
            <section id="content" ng-include="'modules/home/views/list.html'" ng-if="! user.ownsRestaurants">
            </section>

            <section id="content" ng-include="'modules/home/views/owner.html'" ng-if="user.ownsRestaurants">
            </section>

            <!--<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>-->
        </section>


    </section>

</section>


