<section class="vbox">
    <!--Header-->
    <header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="'modules/partials/header.html'"></header>
    <section class="ir-content">
        <section class="hbox stretch">
            <!--Sidebar-->
            <aside ng-include="'modules/partials/sidebar.html'" id="nav" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

            <!--Content for regular users-->
            <section id="content" ng-include="'modules/home/views/list.html'"
                     ng-if="view == 'listall' || (view == 'index' && ! user.ownsRestaurants)">
            </section>

            <!--Restaurant owner panel-->
            <section id="content" ng-include="'modules/home/views/owner.html'"
                     ng-if="view == 'index' && user.ownsRestaurants">
            </section>

            <!--Favorites panel-->
            <section id="content" ng-include="'modules/home/views/favorites.html'"
                     ng-if="view == 'favorites'">
            </section>



            <!--<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>-->
        </section>


    </section>

</section>


