<section class="vbox">
    <!--Search box-->
    <div class="visible-xs">
        <!--class="col-xs-5 col-sm-4 col-md-6 col-lg-6"-->
        <!--<div ng-include="'modules/partials/search-box.html'">-->
        <!--</div>-->
        <div class="panel panel-tight">
            <div class="">
                <div ng-include="'modules/partials/search-box.html'"></div>
            </div>
        </div>

    </div>

    <div class="hidden-xs">
        <header class="header bg-white b-b b-light hide-for-small hide-for-touch"
                ng-include="'modules/restaurant/views/search-form.html'">

        </header>
    </div>
    <section class="scrollable wrapper w-f">
        <div class="row">
            <!--Restaurant list-->
            <div class="col-sm-8 col-md-9 col-lg-9 " ng-class="{'hidden-xs': showFiltersMobile}">
                <section>
                    <header class="panel-heading ">
                        <div class="row">

                            <div class="col-sm-6">
                                <!--Popular Restaurants-->
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3 pull-right">
                                <select ng-model="restaurantList.params.sort" class="form-control">
                                    <option value="popular">Sort by rating</option>
                                    <option value="trending">Sort by trend</option>
                                    <option value="distance">Sort by distance</option>
                                </select>
                            </div>
                        </div>
                    </header>
                </section>

                <!--Restaurant list-->
                <section class="comment-list block"
                         cg-busy="{promise:cgBusyPromise,message:'',templateUrl:'modules/partials/cgbusy-template.html',backdrop:true}" >
                    <div class="panel-body no-padding-right">
                        <!--In case there are no results-->
                        <article class="comment-item" ng-hide="restaurants.length">
                            <section class="comment-body panel panel-default">
                                <section class="panel-body">
                                    <div class="m-md">
                                        No results
                                    </div>
                                </section>
                            </section>
                        </article>
                        <!--Results-->
                        <article ng-repeat="restaurant in restaurants" class="comment-item">
                            <a class="pull-left thumb-sm avatar">
                                <span class="rating-circle">{{restaurant.overview__percentile | number : 1}}</span>
                                <div easypiechart options="options" percent="restaurant.overview__percentile | number : 2"></div></a> <span
                                class="arrow left"></span>
                            <section class="comment-body panel panel-default">
                                <header class="panel-heading"><a href="">{{restaurant.locations__formatted_address}}</a>
                                    <label class="label bg-primary m-l-xs">{{restaurant.category}}</label>

                                                    <span class="text-muted m-l-sm pull-right"> <i
                                                            class="fa fa-clock-o"></i> {{restaurant.distance | number : 2}} KM </span>
                                </header>
                                <div class="panel-body">
                                    <div class="col-sm-3 col-md-3 col-lg-4 no-padding pull-left">
                                        <nvd3-multi-bar-chart
                                                data="restaurant.trend_data"
                                                showXAxis="false"
                                                showYAxis="false"
                                                tooltips="true"
                                                width="222"
                                                height="150"
                                                interactive="true">
                                            <svg></svg>
                                        </nvd3-multi-bar-chart>
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-6 pull-left">
                                        <p><a href="#/restaurant/{{restaurant.id}}/{{hash}}">
                                            <h3 class="title"> {{restaurant.name}} </h3>
                                        </a></p>
                                        <p class="m-t-md">
                                            <!--<rating  ng-model="restaurant.rating_rounded" max="5" readonly="true"></rating>-->
                                                            <span ng-repeat="Star in [1,2,3,4,5]">
                                                                <span ng-switch="restaurant.rating >= Star - 0.25">
                                                                    <span ng-switch-when="true">
                                                                        <i class="fa fa-star"></i>
                                                                    </span>
                                                                    <span ng-switch-when="false">
                                                                        <span ng-switch="restaurant.rating >= (Star-0.75)">
                                                                            <span ng-switch-when="true">
                                                                                <i class="fa fa-star-half-o"></i>
                                                                            </span>
                                                                            <span ng-switch-when="false">
                                                                                <i class="fa fa-star-o"></i>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                            <span class="label m-l-xs m-r-sm"
                                                                  ng-class="{'label-warning': restaurant.rating <= 2,
                                                                  'label-info': restaurant.rating > 2 && restaurant.rating < 4,
                                                                  'label-success':restaurant.rating >= 4}">

                                                                {{ restaurant.rating }}
                                                            </span>
                                            {{restaurant.overview__total_reviews}} Reviews
                                        </p>
                                        <!--<p>Restaurant Overview : {{restaurant.overview__percentile | number : 2}}</p>-->
                                        <!--<p>Overview Trend : {{restaurant.overview__trend | number : 2}}</p>-->

                                    </div>
                                    <div class="col-lg-2 pull-left no-padding clearfix">
                                        <img ng-show="restaurant.restaurantPhotos[0].thumbnail_url"
                                             ng-src="{{ restaurant.restaurantPhotos[0].thumbnail_url }}" class="list-image">
                                        <img ng-show="restaurant.restaurantPhotos[1].thumbnail_url"
                                             ng-src="{{ restaurant.restaurantPhotos[1].thumbnail_url }}" class="list-image">
                                        <img ng-show="restaurant.restaurantPhotos[2].thumbnail_url"
                                             ng-src="{{ restaurant.restaurantPhotos[2].thumbnail_url }}" class="list-image">
                                        <img ng-show="restaurant.restaurantPhotos[3].thumbnail_url"
                                             ng-src="{{ restaurant.restaurantPhotos[3].thumbnail_url }}" class="list-image">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-3 col-md-4 col-lg-4 col-md-offset-4"></div>
                                    <div class="pull-right">Price : {{restaurant.price_range_symbol}}</div>
                                </div>
                            </section>
                        </article>
                        <div class="panel-body hide-for-small bg-white b-b b-light" style="margin-left: 45px;">

                            <pagination total-items="popularListTotalItems" ng-model="popularListCurrentPage" max-size="maxSize"
                                        class="pagination-sm " boundary-links="true" rotate="false" num-pages="numPages"
                                        ng-change="popularListPageChanged()"
                                        items-per-page="popularListItemPerPage"></pagination>
                        </div>
                    </div>
                </section>
            </div>
            <!--Filters-->
            <div class="col-sm-4 col-md-3 hide-for-small hide-for-touch" ng-class="{'hidden-xs': !showFiltersMobile}">
                <div class="panel">
                    <div class="panel-heading b-b">Filters</div>
                    <div class="panel-body">

                        <!--Cuisine-->

                        <div class="panel-title m-b">Cuisine</div>
                        <ul class="list-unstyled m-t-n-sm">
                            <li class="checkbox i-checks">
                                <label> <input type="checkbox" ng-checked="! restaurantList.params['category-in']"
                                               ng-click="selectAllCategories(allCategoriesSelected)">
                                    <i></i> All Categories
                                </label>
                            </li>
                            <li class="checkbox i-checks" ng-repeat="(category, value) in listedCategories">
                                <label>
                                    <input type="checkbox" ng-model="listedCategories[category]"><i></i>
                                    {{ category }}
                                </label>
                            </li>
                            <input type="text" ng-model="newCategory" placeholder=" Search cuisine"
                                   typeahead-on-select="addCategory(newCategory)"
                                   typeahead="category for category in allCategories | filter:$viewValue"
                                   class="form-control ng-pristine ng-valid" >
                        </ul>
                        <div class="line line-dashed b-b line-lg"></div>

                        <!--Price-->

                        <div class="panel-title m-b">Price</div>
                        <label>
                            <select class="form-control icon price ng-pristine ng-valid"
                                    ng-model="restaurantList.params['price_range-greater-than-or-equal-to']"
                                    style="width: 90px; display: inline-block;">
                                <option value="0">$</option>
                                <option value="1">$$</option>
                                <option value="2">$$$</option>
                                <option value="3">$$$$</option>
                                <option value="4">$$$$$</option>
                            </select>
                        </label>
                        <label> to
                            <select class="form-control icon price ng-pristine ng-valid"
                                    ng-model="restaurantList.params['price_range-less-than-or-equal-to']"
                                    style="width: 90px; display: inline-block;">
                                <option value="0">$</option>
                                <option value="1">$$</option>
                                <option value="2">$$$</option>
                                <option value="3">$$$$</option>
                                <option value="4">$$$$$</option>
                            </select>
                        </label>
                        <div class="line line-dashed b-b line-lg"></div>

                        <!--Rating-->

                        <div class="panel-title m-b">Rating</div>
                        <ul class="list-unstyled">
                            <li class="radio i-checks" ng-repeat="option in ratingFilterOptions"><label>
                                <input type="radio" name="rating" ng-model="ratingFilterValue" value="{{option.value}}"
                                       ng-change="setRatingFilter(ratingFilterValue)"><i></i> {{option.label}}</label>
                            </li>
                        </ul>

                        <div class="line line-dashed b-b line-lg"></div>

                        <!--Distance-->

                        <div class="panel-title m-b" ng-show="nearMe">Distance</div>
                        <ul class="list-unstyled" ng-show="nearMe">
                            <li class="radio i-checks" ng-repeat="option in distanceFilterOptions"><label>
                                <input type="radio" name="distance" ng-model="distanceFilterValue" value="{{option.value}}"
                                       ng-change="setDistanceFilter(distanceFilterValue)"><i></i> {{option.label}}</label>
                            </li>
                        </ul>

                        <div class="line line-dashed b-b line-lg"></div>

                        <!--Trend-->

                        <div class="panel-title m-b">Trend</div>
                        <ul class="list-unstyled">
                            <li class="radio i-checks" ng-repeat="option in trendFilterOptions"><label>
                                <input type="radio" name="trend" ng-model="trendFilterValue" value="{{option.value}}"
                                       ng-change="setTrendFilter(trendFilterValue)"><i></i> {{option.label}}</label>
                            </li>
                        </ul>

                        <div class="line line-dashed b-b line-lg"></div>

                        <button class="btn btn-dark form-control" ng-click="toggleFiltersMobile()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>

                        <!--<div class="line line-dashed b-b line-lg"></div>-->
                        <!--<ul class="list-unstyled">-->
                        <!--<li class="radio i-checks"><label>-->
                        <!--<input type="radio" name="filter" checked=""><i></i> Today </label>-->
                        <!--</li>-->
                        <!--<li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>-->
                        <!--Last Week </label></li>-->
                        <!--<li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>-->
                        <!--Last Month </label></li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="ir-footer" ng-include="footer"></footer>
</section>