<section class="vbox">
    <header class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow" ng-include="header"></header>
    <section>
        <section class="hbox stretch">
            <aside ng-include="sidebar" class="bg-light lt b-r b-light aside-md hidden-print"></aside>

            <section id="content">
                <section class="vbox">
                    <header class="header bg-white b-b b-light hide-for-small hide-for-touch">
                        <div class="">
                            <div class=" top20 head widget-head bg-purple active clearfix"
                                 style="padding:23px 5px;margin-bottom:0px;">
                                <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <input ng-model='search.formattedAddress' class="form-control icon location"
                                           placeholder="-- Location --" ng-model="asyncSelected"
                                           typeahead="address.formatted_address for address in getLocation($viewValue) "
                                           typeahead-loading="loadingLocations">
                                </div>
                                <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <select class="form-control icon price" ng-model="search.price">
                                        <option>-- Price --</option>
                                        <option ng-repeat="price in prices" value="{{price.numericValue}}">
                                            {{price.value}}
                                        </option>
                                    </select>
                                </div>
                                <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <select class="form-control icon type" ng-model="search.category">
                                        <option value="">-- Cuisine --</option>
                                        <option ng-repeat="category in categories" value="{{category.category}}">
                                            {{category}}
                                        </option>
                                    </select>
                                </div>
                                <div class="xs-top20 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <button class="btn btn-dark form-control" ng-click="search()">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>

                                    <!--<input type="text" class="btn btn-dark form-control glyphicon glyphicon-search">-->
                                </div>
                            </div>
                        </div>
                    </header>
                    <section class="scrollable wrapper w-f">
                        <div class="row">

                            <div class="col-sm-12 col-md-9 col-lg-9 ">
                                <section>
                                    <header class="panel-heading ">
                                        <div class="row">

                                            <div class="col-sm-6">
                                                Popular Restaurants
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-3 pull-right">
                                                <select ng-model="sort" ng-change="set()" class="form-control">
                                                    <option value="popular">Sort by rating</option>
                                                    <option value="trending">Sort by trend</option>
                                                    <option value="distance">sort by distance</option>
                                                </select>
                                            </div>
                                        </div>
                                    </header>
                                </section>
                                <section class="comment-list block">

                                    <div class="panel-body no-padding-right">
                                        <article ng-repeat="restaurant in restaurants" class="comment-item"><a
                                                class="pull-left thumb-sm avatar">
                                            <span class="rating-circle">{{restaurant.overview__percentile | number : 1}}</span>
                                            <div easypiechart options="options" percent="restaurant.overview__percentile | number : 2"></div></a> <span
                                                class="arrow left"></span>
                                            <section class="comment-body panel panel-default">
                                                <header class="panel-heading"><a href="">{{restaurant.locations__formatted_address}}</a>
                                                    <label class="label bg-primary m-l-xs">{{restaurant.category}}</label>

                                                    <span class="text-muted m-l-sm pull-right"> <i
                                                            class="fa fa-clock-o"></i> {{restaurant.distance | number : 2}} KM </span>
                                                </header>
                                                <div class="panel-body">
                                                    <div class="col-sm-3 col-md-4 col-lg-4 pull-left">
                                                        <nvd3-multi-bar-chart
                                                                data="trend"
                                                                showXAxis="false"
                                                                showYAxis="false"
                                                                tooltips="true"
                                                                interactive="true">
                                                        </nvd3-multi-bar-chart>
                                                    </div>
                                                    <blockquote>
                                                        <p><a href="#/restaurant/{{restaurant.id}}/{{hash}}"><h3
                                                                class="title">
                                                            {{restaurant.name}}


                                                        </h3>
                                                        </a>

                                                        </p>



                                                        {{restaurant.overview__percentile | number : 2}}

                                                        {{restaurant.overview__trend | number : 2}}


                                                    </blockquote>
                                                    Reviews: {{restaurant.overview__total_reviews}}
                                                    <div class="pull-right">{{restaurant.price_range_symbol}}</div>
                                                </div>
                                            </section>
                                        </article>

                                        <div class="panel-body hide-for-small bg-white b-b b-light" style="margin-left: 45px;">
                                            <pagination total-items="popularListTotalItems" ng-model="popularListCurrentPage" max-size="maxSize"
                                                        class="pagination-sm " boundary-links="true" rotate="false" num-pages="numPages"
                                                        ng-change="popularListPageChanged()"
                                                        items-per-page="popularListItemPerPage"></pagination>
                                        </div>
                                    </div>
                                </section>
                                <section class="vbox">

                                </section>
                            </div>
                            <div class="col-sm-3 hide-for-small hide-for-touch">
                                <div class="panel">
                                    <div class="panel-heading b-b">Filter | Not Implemented yet</div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled m-t-n-sm">
                                            <li class="checkbox i-checks"><label> <input type="checkbox"
                                                                                         checked=""><i></i> All Category
                                            </label></li>
                                            <li class="checkbox i-checks"><label> <input type="checkbox"
                                                                                         checked=""><i></i> Chinese </label></li>
                                            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i> Indian
                                            </label></li>
                                            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                                                Thai </label></li>
                                            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                                                Modern Australian </label></li>
                                            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                                                Bistro </label></li>
                                            <li class="checkbox i-checks"><label> <input type="checkbox"><i></i>
                                                Burgers </label></li>
                                        </ul>
                                        <div class="line line-dashed b-b line-lg"></div>
                                        <ul class="list-unstyled">
                                            <li class="radio i-checks"><label> <input type="radio" name="filter"
                                                                                      checked=""><i></i> Today </label>
                                            </li>
                                            <li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>
                                                Last Week </label></li>
                                            <li class="radio i-checks"><label> <input type="radio" name="filter"><i></i>
                                                Last Month </label></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>


        </section>
    </section>
</section>