<div class="row google-map" ng-if="showMap">
    <div id="panel" ng-if="originAddress!=='' && map.formattedAddress && marker.coords">
        <form class="form-inline">
            <div class="form-group">
                <label>Start : </label>
                <input type="text" class="form-control" ng-model="originAddress"/>
            </div>
            <div class="form-group">
                <label>End : </label>
                <input type="text" class="form-control" ng-model="map.formattedAddress"/>
            </div>
            <div class="form-group">
                <select class="form-control" name="travelMode" ng-model="travelMode"
                        ng-options="value.value as value.label for value in travelModes" ></select>
            </div>
            <div class="form-group">
                <button ng-click="getDirections(travelMode)" class="btn btn-sm btn-rounded btn-default">
                    <span class="dropdown-label">Get Directions</span></button>
            </div>
        </form>

    </div>

    <section>

        <ui-gmap-google-map control="map.control"  center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-marker coords="marker.coords" options="marker.options"  idkey="marker.id">
                <ui-gmap-window>
                    <p>{{map.formattedAddress}}</p>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>


    </section>


</div>
